{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>disput</title>
        <link rel="stylesheet" href="{% static "css/header_footer.css" %}">
        <link rel="stylesheet" href="{% static "css/about.css" %}">
        <meta name="viewport" content="width=device-width">
    </head>
    {% include 'header.html' %}
        <main>
            <section class="sec1">
                <div class="smalldiv">
                    <h2>Здесь можно</h2>
                    <ul>
                        <li>Познавать свои чертоги разума с помощью нашего сайта</li>
                        <li>Находить ответы на риторические вопросы</li>
                        <li>Выражать свою точку зрения на риторические вопросы</li>
                        <li>Дискутировать с другими пользователями и просто хорошо</li>
                        <li>С пользой проводить своё время</li>
                    </ul>
                </div>
                <div class='border'>вчсапмирт</div>
                <div class="smalldiv">
                    <h2>Правила</h2>
                    <ul>
                        <li>Не оскорблять участников,но только если очень тонко(если нет,то модераторы ограничат вашу способность дискутировать)</li>
                        <li>Спамить!</li>
                    </ul>
                </div>
            </section>
            <div class="bigdiv">
                <h2>О нас</h2>
                <p>Команда разработчиков "Titanic" из школы программистов, которая делает вашу жизнь интереснее.</p>
            </div>
            <div style="height: 92px; width:100%;"></div>

        </main>
